<header class="main-navigation">
  <nav>
    <ul class="main-navigation__items">
      <li class="main-navigation__item"><a href="/">Form</a></li>
      <li class="main-navigation__item"><a href="/users">Users</a></li>
    </ul>
  </nav>
</header>
