<%- include('partials/head.ejs') %>
    <link rel="stylesheet" href="styles/users.css">
  </head>
  <body>
    <%- include('partials/navigation.ejs') %>
    <main>
        <ul class="users-list">
            <% for (let user of users) { %>
                <li class="users-list__item"><%= user %></li>
            <% } %>
        </ul>
    </main>
<%- include('partials/end.ejs') %>
