<%- include('partials/head.ejs') %>
    <link rel="stylesheet" href="styles/users.css">
  </head>
  <body>
    <%- include('partials/navigation.ejs') %>
    <main>
        <ul class="users-list">
            <li class="users-list__item">User 1</li>
            <li class="users-list__item">User 2</li>
        </ul>
    </main>
<%- include('partials/end.ejs') %>
